@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; 
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  color: var(--darkGrey);
  font-size: rem(16);
  font-family: var(--jakarta);
  background-color: var(--snow);
  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  @include breakpoint-down(medium) {
  min-height: 100vh;
  }
}

.card {
  background-color: var(--white);
  padding-top: rem(24);

  @include breakpoint(medium) {
    border-radius: rem(15);
    padding-top: rem(33);

  }
}

.unread::after {
  content: '';
  margin-left: 4px;
  margin-bottom: 1px;
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--red);
}

.wrapper {
  max-width: rem(730);
  padding: 0 rem(16);
  padding-top: rem(24);
  margin-inline: auto;

  @include breakpoint(medium) {
    margin: 0 rem(20);
    padding: rem(33) rem(30);
  }
}