:root {
    --blue: #0A327B;
    --red: #F65552;
    --veryDarkBlue: #1C202B;
    --darkGrey: #5E6778;
    --grey: #939CAD;
    --lightGrey: #E5EFFA;
    --veryLightGrey: #DDE7EE;
    --snow: #F7FAFD;
    --white: #ffffff;
}