h1,h2,h3 {
  margin-top: 0;
}

h1 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.01rem + 1.02vw, 1.5rem);
  font-weight: 800;
  color: var(--veryDarkBlue);
}

body, button {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.76rem + 0.51vw, 1rem);
}

a, a:visited, a:active {
  text-decoration: none;
}